body {
    background: linear-gradient(0deg, #ffbfff, #ff80e1) no-repeat center center fixed;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set minimum height of the viewport */
  }
  
  
  
  
  