<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            register
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/log_reg.css">
    </head>
    <body id="reg_body">
      <div class="container-fluid" style = "height: 100vh">
         <div class="row">
            <div class="col">
             <div class="d-flex align-items-center py-5">
                  <div class="container">
                    <div class="row">
                      <div class="col col-lg-8 mx-auto" id="reg_box">

                        <h1 class="text-center m-3 text-white display-1"> Crocodile Covers </h1>
                        <!-- <a href="/">
                          <img src = "../static/lyle.png" class="rounded mx-auto d-block" style = "height: 100px; width:100px">
                        </a> -->
                        <h2 class="login-heading m-3 text-warning text-center">Sign Up</h2>
                        <form class="px-4 py-3" action ="/signup" method="POST">
                          
                          <div class="form-floating m-3">
                            <input required type="text" class="form-control" name="username" id="form_user" placeholder="Username">
                            <label for="form_user">Username</label>
                          </div>
                          
                          <div class="form-floating m-3">
                            <input required type="password" class="form-control" name="password" id="form_password" placeholder="Password">
                            <label for="form_password">Password</label>
                          </div>
                          
                          <div class="form-floating m-3">
                            <input required type="password" class="form-control" name="password_confirm" id="form_password" placeholder="Password">  
                            <label for="form_password">Confirm Password</label>
                          </div>
          
                          <div class="text-warning text-center">
                            <br> <button type="submit" class="user_button btn btn-lg btn-outline-warning" name="sub1" value="Sign In">Sign up</button>
                          </div>
                          
                        </form>
                        
                        <div class="container-fluid text-center">
                          <p class="text-danger">{{status}}</p>
                          <p class="text-white"> Already have an account? </p> 
                          <form action="/auth" method="GET">
                            <button class="user_button btn btn-lg btn-outline-warning" value="login" name="sub1">Login</button>
                          </form>  
                      </div>  <!-- close register container -->
                      </div>
                    </div>
                  </div>
             </div>
            </div>
        </div>
      </div>
    </body>
</html>